<a href="https://colab.research.google.com/github/jaya-12/machine-learning/blob/main1/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#get the index and value for item in a list(enumerate)
items=['hi',129,3,4,(01,'hi')]
[(index,value) for index, value in enumerate(items)]

In [1]:
#find the common numbers in the tools using list comprehension
l1=[1,2,3,4,5,6,7,8,9]
l2=[1,5,7,99,3,5,67]
[ i  for i in l1 for j in l2  if i==j ]
[ i for i in l1 if i in l2]

[1, 3, 5, 7]

In [3]:
#count the number of letters count and word count
sentence="this is csit department"
[    i      for i in sentence    if i==' ']
print(len(l1))

i=sentence.split()
[  j  for j in i  ]

9

['this', 'is', 'csit', 'department']

In [6]:
# count the number of word which are not alphanumeric
sentence="this is csit  1984 60 department"
i=sentence.split()
[  j   for j in i   if not j.isalpha()  ]
#print the letter of words having character greater than 4
[ j      for j in sentence.split()   if j.isalpha and len(j) > 4]

['department']

In [13]:
#use a nested list comprehension to find all the numbers in the range 1 to 100 that are divisible by any number between 2 and 9

[ i    for j in range(2,9)  for i in range(1,101)  if (i%j)==0 ]
#[ i  for  i in range(1,101) if yes in [yes  for  j in range(2,10) if i%j==0]]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 40,
 44,
 48,
 52,
 56,
 60,
 64,
 68,
 72,
 76,
 80,
 84,
 88,
 92,
 96,
 100,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 60,
 66,
 72,
 78,
 84,
 90,
 96,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 80,
 88,
 96]